.title {
  font-family: monospace;
  font-size: 24px;
  color: whitesmoke;
  text-align: center;
}

.leftColumn {
  float: left;
  width: 60%;
}

.rightColumn {
  float: right;
  width: 40%;
}

.columnHeader {
  text-align: center;
  color: whitesmoke;
}

.leftColumn h2 {
  font-family: 'Courier New', monospace;
}

.rightColumn h2 {
  font-family: 'Courier New', monospace;
}
